{% extends 'base.html' %}{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-7">
    <div class="card p-4">
      <h3>Profile</h3>
      <form id="profileForm" class="mt-3">
        <label class="form-label">Full name</label
        ><input class="form-control mb-3" name="full_name" /><label
          class="form-label"
          >Email</label
        ><input class="form-control mb-3" name="email" type="email" /><label
          class="form-label"
          >Phone</label
        ><input class="form-control mb-3" name="phone" />
        <hr />
        <h6>Change password</h6>
        <label class="form-label">Current password</label
        ><input
          class="form-control mb-3"
          name="current_password"
          type="password"
        /><label class="form-label">New password</label
        ><input
          class="form-control mb-3"
          name="new_password"
          type="password"
        /><button class="btn btn-primary">Save changes</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}{% block scripts %}
<script src="{{ url_for('static',filename='js/profile.js') }}"></script>
{% endblock %}
